h1 {
	font-family: "Lemon/Milk";
}

p, h2, h3 {
	font-family: "Helvetica Neue";
}

.jumbotron {
	/*
	background-image: url(../img/jumbotron-back.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    */ 
    margin-bottom: 0px;
    background-color: #30ABE8;
    color: #fff;
    height: 420px;
    text-align: center;
}

.jumbotron h1 {
	margin-top: 170px;
}

.headFade {

}

.nav img {
	height: 60px;
	opacity: 0.7;
}

.nav img:hover {
	opacity: 1;
}

.nav p {
	text-align: center;
	color: #fff;
}

.navbar {
	overflow: hidden;
}

.navbar-inverse {
	background-color: #131B23;
	display: inline-block;
  	float: none;
  	vertical-align: top;
}

.navbar-inverse .navbar-nav li a{
	background-color: #131B23;
}

/* trying to get the navbar to center */
.navbar-header {
	width: 500px;
	margin: auto;
}

.row img {
	padding: 20px;
}

/* from headroom.css */
.headroom {
  position: fixed;
  top: 0;
  -webkit-transition: top 0.15s;
  transition: top 0.15s;
}
.headroom-hidden {
  top: -120px;
}
/* from headroom.css */
