h1 {
	font-family: "Lemon/Milk";
}

p {
	background-image: url("img/jumb.png");
}

.jumbotron {
	/*
	background-image: url(../img/jumbotron-back.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    */ 
    margin-bottom: 0px;
    background-color: #30ABE8;
    color: #fff;
    height: 500px;
    text-align: center;
}

.jumbotron h1 {
	margin-top: 170px;
}

.navbar-inverse {
	background-color: #131B23;
}

.navbar-inverse .navbar-nav li a{
	background-color: #131B23;
}

